<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Service Section</button>
    </div>
    <section id="service" class="section service-area ptb_150">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-rocket-launch color-1 icon-bg-1"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-monitoring color-2 icon-bg-2"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-web color-3 icon-bg-3"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-smartphone color-4 icon-bg-4"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-email color-5 icon-bg-5"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-affiliate color-6 icon-bg-6"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>




<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Service Section</button>
    </div>
    <section id="service" class="section service-area ptb_150">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-rocket-launch color-1 icon-bg-1"></span>
                        <h3 class="my-3">{{service.header}}</h3>
                        <p>{{service.statement}}</p>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3" href="{{button.url}}">{{button.name}}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service text-center p-4">
                        <span class="flaticon-monitoring color-2 icon-bg-2"></span>
                        <dx-text-box [(ngModel)]="service.header" ></dx-text-box>
                        <dx-text-area [(ngModel)]="service.statement" height="100" ></dx-text-area>
                        <a *ngFor="let button of service.buttons"  class="service-btn mt-3">
                            <dx-text-box [(ngModel)]="button.name" ></dx-text-box>
                            <dx-text-box [(ngModel)]="button.url" ></dx-text-box>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>