<section class="section our-goal ptb_100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Goal Content -->
                <div class="goal-content section-heading text-center text-lg-left pr-md-4 mb-0" *ngFor="let sectionList of goal.sectionList">
                    <h2 class="mb-3">{{sectionList.header}}</h2>
                    <p>{{sectionList.statement1}}</p><br>
                    <p>{{sectionList.statement2}}</p>
                    <a *ngFor="let button of goal.buttons" href="{{button.url}}" class="btn btn-bordered mt-4">{{button.name}}</a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Goal Thumb -->
                <div class="goal-thumb mt-5 mt-lg-0" >
                    <img src="{{goal.goalThumBUrl}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>