<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  
    <ng-wizard-step [title]="'Step 1'" [description]="'Select Page Template'">
      <app-agent-template-administration></app-agent-template-administration>
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Step 2'" [description]="'Setup Home Page'">
      <app-agent-page-administration></app-agent-page-administration>
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Step 3'" [description]="'Setup About Page'">
      <span>About Page</span>
    </ng-wizard-step>
   
    <ng-wizard-step [title]="'Step 4'" [description]="'Setup Services'">
      <span>Setup Services</span>
    </ng-wizard-step>
   
    <ng-wizard-step [title]="'Step 5'" [description]="'Setup Pricing'">
      <span>Setup Pricing</span>
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Step 6'" [description]="'Setup Contact Information'">
      <span>Setup Contact Information</span>
    </ng-wizard-step>
  </ng-wizard>