<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Content Section</button>
    </div> 
  <section class="section content-area dark-bg ptb_150">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6">
                    <!-- Profile Circle Wrapper -->
                    <div class="profile-circle-wrapper circle-animation d-none d-sm-block">
                        <!-- Profile Inner -->
                        <div class="profile-inner"  *ngFor="let img of content.contentImages">
                            <!-- Profile Circle -->
                            <div class="profile-circle circle-lg">
                                <span class="profile-icon icon-1">
                                    <img class="icon-1-img" src="{{img.large}}" alt="" />
                                </span>
                                <span class="profile-icon icon-2">
                                    <img class="icon-2-img" src="{{img.large}}" alt="" />
                                </span>
                                <span class="profile-icon icon-3">
                                    <img class="icon-3-img" src="{{img.large}}" alt="" />
                                </span>
                                <span class="profile-icon icon-4">
                                    <img class="icon-4-img" src="{{img.large}}" alt="" />
                                </span>
                            </div>

                            <!-- Profile Circle -->
                            <div class="profile-circle circle-md">
                                <span class="profile-icon icon-5">
                                    <img class="icon-5-img" src="{{img.medium}}" alt="" />
                                </span>
                                <span class="profile-icon icon-6">
                                    <img class="icon-6-img" src="{{img.medium}}" alt="" />
                                </span>
                                <span class="profile-icon icon-7">
                                    <img class="icon-7-img" src="{{img.medium}}" alt="" />
                                </span>
                            </div>

                            <!-- Profile Circle -->
                            <div class="profile-circle circle-sm">
                                <span class="profile-icon icon-8">
                                    <img class="icon-8-img" src="{{img.small}}" alt="" />
                                </span>
                                <span class="profile-icon icon-9">
                                    <img class="icon-9-img" src="{{img.small}}" alt="" />
                                </span>
                            </div>
                        </div>
                        <img class="folder-img" src="assets/img/folders_2.png" alt="" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- Content Inner -->
                    <div class="content-inner text-center pt-sm-4 pt-lg-0 mt-sm-5 mt-lg-0">
                        <!-- Section Heading -->
                        <div class="section-heading text-center mb-3" *ngFor="let sectionItem of content.sectionList">
                            <h2 class="text-white">{{sectionItem.header}}</h2>
                            <p class="text-white-50 d-none d-sm-block mt-4">{{sectionItem.statement1}}</p>
                            <p class="text-white-50 d-block d-sm-none mt-4">{{sectionItem.statementMobile}}</p>
                        </div>
                        <!-- Content List -->
                        <ul class="content-list text-left">
                            <!-- Single Content List -->
                            <li class="single-content-list media py-2" *ngFor="let contentItem of content.contentList">
                                <div class="content-icon pr-4">
                                    <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                </div>
                                <div class="content-text media-body">
                                    <span class="text-white"><b>{{ contentItem.listHeader }}</b><br>{{contentItem.listStatement}}</span>
                                </div>
                            </li>
                    
                        </ul>
                        <a *ngFor="let button of content.buttons" href="{{button.url}}" class="btn btn-bordered-white mt-4">{{button.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>



<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Content Section</button>
    </div>
    <section class="section content-area dark-bg ptb_150">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6">
                    <!-- Profile Circle Wrapper -->
                    <div class="profile-circle-wrapper circle-animation d-none d-sm-block">
                        <!-- Profile Inner -->
                        <div class="profile-inner"  *ngFor="let img of content.contentImages">
                            <!-- Profile Circle -->
                            <div class="profile-circle circle-lg">
                                <dx-text-box [(ngModel)]="img.large"></dx-text-box>
                            </div>

                            <!-- Profile Circle -->
                            <div class="profile-circle circle-md">
                                <dx-text-box [(ngModel)]="img.medium"></dx-text-box>
                            </div>

                            <!-- Profile Circle -->
                            <div class="profile-circle circle-sm">
                                <dx-text-box [(ngModel)]="img.small"></dx-text-box>
                            </div>
                        </div>
                        <img class="folder-img" src="assets/img/folders_2.png" alt="" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- Content Inner -->
                    <div class="content-inner text-center pt-sm-4 pt-lg-0 mt-sm-5 mt-lg-0">
                        <!-- Section Heading -->
                        <div class="section-heading text-center mb-3" *ngFor="let sectionItem of content.sectionList">
                            <dx-text-box [(ngModel)]="sectionItem.header" ></dx-text-box>
                            <dx-text-area [(ngModel)]="sectionItem.statement1" [height]="100"></dx-text-area>
                            <dx-text-box [(ngModel)]="sectionItem.statementMobile" ></dx-text-box>
                        </div>
                        <!-- Content List -->
                        <ul class="content-list text-left">
                            <!-- Single Content List -->
                            <li class="single-content-list media py-2" *ngFor="let contentItem of content.contentList">
                                <div class="content-icon pr-4">
                                    <span class="color-2"><i class="fas fa-angle-double-right"></i></span>
                                </div>
                                <div class="content-text media-body">
                                    <dx-text-box [(ngModel)]="contentItem.listHeader" ></dx-text-box>
                                    <dx-text-area [(ngModel)]="contentItem.listStatement" height="100" ></dx-text-area>
                                </div>
                            </li>
                    
                        </ul>
                        <a *ngFor="let button of content.buttons" href="{{button.url}}" class="btn btn-bordered-white mt-4">
                            <dx-text-box [(ngModel)]="button.name"></dx-text-box>
                            <dx-text-box [(ngModel)]="button.url"></dx-text-box>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>