<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Pricing Section</button>
    </div> 
    <section id="pricing" class="section price-plan-area bg-grey overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center" *ngFor="let sectionList of pricing.sectionList">
                        <h2>{{sectionList.header}}</h2>
                        <p class="d-none d-sm-block mt-4">{{sectionList.statement1}}</p>
                        <p class="d-block d-sm-none mt-4">{{sectionList.statementMobile}}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row price-plan-wrapper">
                        <div class="col-12 col-md-6">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-1 bg-hover hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <h3 class="mb-2">{{pricing.title1}}</h3>
                                    <p>{{pricing.statement1}}.</p>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <span class="h1 fw-7">{{pricing.price1}}</span>
                                    <sub class="validity text-muted fw-5">/{{pricing.frequency}}</sub>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2 text-muted">{{pricing.feature}}</li>
                                        <li class="py-2 text-muted">{{pricing.feature}}</li>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-2 bg-hover active hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <h3 class="mb-2">{{pricing.title2}} <sup><span class="badge badge-pill badge-warning ml-2">{{pricing.badge}}</span></sup></h3>
                                    <p>{{pricing.statement2}}</p>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <span class="h1 fw-7">{{pricing.price2}}</span>
                                    <sub class="validity text-muted fw-5">/{{pricing.frequency}}</sub>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <p class="pt-4 fw-5">Not sure what to choose? <a class="service-btn" href="#"><strong>Contact Us</strong></a></p>
            </div>
        </div>
    </section>
</ng-container>



<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Pricing Section</button>
    </div>
    <section id="pricing" class="section price-plan-area bg-grey overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center" *ngFor="let sectionList of pricing.sectionList">
                        <dx-text-box [(ngModel)]="sectionList.header" ></dx-text-box>
                        <dx-text-area [(ngModel)]="sectionList.statement1" [height]="100"></dx-text-area>
                        <dx-text-box [(ngModel)]="sectionList.statementMobile" ></dx-text-box>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row price-plan-wrapper">
                        <div class="col-12 col-md-6">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-1 bg-hover hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <dx-text-box [(ngModel)]="pricing.title1" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.statement1" ></dx-text-box>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <dx-text-box [(ngModel)]="pricing.price1" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.frequency" ></dx-text-box>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-2 bg-hover active hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <dx-text-box [(ngModel)]="pricing.title2" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.statement2" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.badge" ></dx-text-box>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <dx-text-box [(ngModel)]="pricing.price2" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.frequency" ></dx-text-box>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" ></dx-text-box>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <p class="pt-4 fw-5">Not sure what to choose? <a class="service-btn" href="#"><strong>Contact Us</strong></a></p>
            </div>
        </div>
    </section>
</ng-container>