<section id="home" class="section welcome-area overflow-hidden d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-7">
                <div class="welcome-intro" *ngFor="let section of hero.sectionList">
                    <h1>{{section.header}}</h1>
                    <p class="my-4">{{section.statement1}}</p>
                    <!-- Buttons -->
                    <div class="button-group" *ngFor="let button of hero.buttons">
                        <a href="{{button.url}}" class="btn btn-bordered">{{button.name}}</a>
                        <a href="{{button.url}}" class="btn btn-bordered d-none d-sm-inline-block">{{button.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>