<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Pricing Section</button>
    </div> 
    <section id="pricing" class="section price-plan-area overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row price-plan-wrapper">
                        <div class="col-12 col-md-6">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-1 bg-hover hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <h3 class="mb-2">{{pricing.title1}}</h3>
                                    <p>{{pricing.statement1}}</p>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <span class="h1 fw-7">{{pricing.price1}}</span>
                                    <sub class="validity text-muted fw-5">/{{pricing.frequency}}</sub>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2 text-muted">{{pricing.feature}}</li>
                                        <li class="py-2 text-muted">{{pricing.feature}}</li>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-2 bg-hover active hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <h3 class="mb-2">{{pricing.title2}} <sup><span class="badge badge-pill badge-warning ml-2">{{pricing.badge}}</span></sup></h3>
                                    <p>{{pricing.statement2}}</p>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <span class="h1 fw-7">{{pricing.price2}}</span>
                                    <sub class="validity text-muted fw-5">/{{pricing.frequency}}</sub>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                        <li class="py-2">{{pricing.feature}}</li>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-12">
                    <!-- FAQ Content -->
                    <div class="faq-content">
                        <!-- sApp Accordion -->
                        <div class="accordion" id="sApp-accordion">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-6">
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                {{pricing.question}}
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            {{pricing.answer}}
                                        </div>
                                    </div>
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    How to start SEO business?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                        </div>
                                    </div>
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    How to use marketing services?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </div>
                                    </div>
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    Is the Contact form active?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    How can I use the portfolio?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                        </div>
                                    </div>
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    What other services do you offer?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                        </div>
                                    </div>
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    Is the template well-documented?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                        </div>
                                    </div>
                                    <!-- Single Card -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header bg-inherit border-0 p-0">
                                            <h2 class="mb-0">
                                                <button class="btn px-0 py-3" type="button">
                                                    Can I get direct support from the author?
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <p class="text-body text-center pt-4 fw-5">Haven't find suitable answer? <a href="#">Tell us what you need.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>





<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Pricing Section</button>
    </div>
    <section id="pricing" class="section price-plan-area overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center"  *ngFor="let sectionList of pricing.sectionList">
                        <dx-text-box [(ngModel)]="sectionList.header"  placeholder="Header"></dx-text-box>
                        <dx-text-area [(ngModel)]="sectionList.statement1" [height]="100" placeholder="Statement for Websites or larger screens"></dx-text-area>
                        <dx-text-box [(ngModel)]="sectionList.statementMobile"  placeholder="Statement for Mobile Screens"></dx-text-box>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row price-plan-wrapper">
                        <div class="col-12 col-md-6">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-1 bg-hover hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <dx-text-box [(ngModel)]="pricing.title1" placeholder="Price Title 1"></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.statement1" placeholder="Statement 1" ></dx-text-box>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <dx-text-box [(ngModel)]="pricing.price1" placeholder="Price 1"></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.frequency" placeholder="Frequency of Charge (week, month, year, etc.)"></dx-text-box>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan color-2 bg-hover active hover-top text-center p-5">
                                <!-- Plan Title -->
                                <div class="plan-title mb-2 mb-sm-3">
                                    <dx-text-box [(ngModel)]="pricing.title2" placeholder="Price Title 2" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.statement2" placeholder="Statement 2" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.badge" placeholder="Special Feature of this option (recommended, 20% off, etc.)" ></dx-text-box>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <span class="color-primary fw-7">$</span>
                                    <dx-text-box [(ngModel)]="pricing.price2" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="pricing.frequency" placeholder="Frequency of Charge (week, month, year, etc.)"></dx-text-box>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                        <dx-text-box [(ngModel)]="pricing.feature" placeholder="A Feature of this pricing option" ></dx-text-box>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn btn-bordered active mt-3">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <p class="pt-4 fw-5">Not sure what to choose? <a class="service-btn" href="#"><strong>Contact Us</strong></a></p>
            </div>
        </div>
    </section>
</ng-container>