<section class="section case-studies ptb_100">
    <div class="container">
        <div class="row"  *ngFor="let marketing of portfolio.marketing">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="{{marketing.imgUrl}}">
                        <img src="{{marketing.img}}" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="{{marketing.img}}" data-fancybox="images" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <i class="fas fa-search-plus fa-2x text-white"></i>
                            <h3 class="text-white mt-2 mb-3">{{marketing.header}}</h3>
                            <p class="text-white">{{marketing.statement}}</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="{{marketing.imgUrl}}">
                        <img src="{{marketing.img}}" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="{{marketing.img}}" data-fancybox="images" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <i class="fas fa-search-plus fa-2x text-white"></i>
                            <h3 class="text-white mt-2 mb-3">{{marketing.header}}</h3>
                            <p class="text-white">{{marketing.statement}}</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="{{marketing.imgUrl}}">
                        <img src="{{marketing.img}}" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="{{marketing.img}}" data-fancybox="images" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <i class="fas fa-search-plus fa-2x text-white"></i>
                            <h3 class="text-white mt-2 mb-3">{{marketing.header}}</h3>
                            <p class="text-white">{{marketing.statement}}</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="{{marketing.imgUrl}}">
                        <img src="{{marketing.img}}" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="{{marketing.img}}" data-fancybox="images" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <i class="fas fa-search-plus fa-2x text-white"></i>
                            <h3 class="text-white mt-2 mb-3">{{marketing.header}}</h3>
                            <p class="text-white">{{marketing.statement}}</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="{{marketing.imgUrl}}">
                        <img src="{{marketing.img}}" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="{{marketing.img}}" data-fancybox="images" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <i class="fas fa-search-plus fa-2x text-white"></i>
                            <h3 class="text-white mt-2 mb-3">{{marketing.header}}</h3>
                            <p class="text-white">{{marketing.statement}}</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Case Studies -->
                <div class="single-case-studies">
                    <!-- Case Studies Thumb -->
                    <a href="{{marketing.imgUrl}}">
                        <img src="{{marketing.img}}" alt="">
                    </a>
                    <!-- Case Studies Overlay -->
                    <a href="{{marketing.img}}" data-fancybox="images" class="case-studies-overlay">
                        <!-- Overlay Text -->
                        <span class="overlay-text text-center p-3">
                            <i class="fas fa-search-plus fa-2x text-white"></i>
                            <h3 class="text-white mt-2 mb-3">{{marketing.header}}</h3>
                            <p class="text-white">{{marketing.statement}}</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center"  *ngFor="let button of portfolio.buttons">
            <a href="{{button.url}}" class="btn btn-bordered mt-4">{{button.name}}</a>
        </div>
    </div>
</section>