<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Portfolio Section</button>
    </div>
    <section id="portfolio" class="portfolio-area overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center" *ngFor="let sectionItems of portfolio.sectionList">
                        <h2>{{sectionItems.header}}</h2>
                        <p class="d-none d-sm-block mt-4">{{sectionItems.statement1}}</p>
                        <p class="d-block d-sm-none mt-4">{{sectionItems.statementMobile}}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-12">
                    <!-- Portfolio Menu -->
                    <div class="portfolio-menu btn-group btn-group-toggle flex-wrap justify-content-center text-center mb-4 mb-md-5" data-toggle="buttons" *ngFor="let button of portfolio.buttons">
                        <label class="btn active d-table text-uppercase p-2">
                            <input type="radio" value="all" checked class="portfolio-btn">
                            <span>{{button.name}}</span>
                        </label>
                        <!-- multiple of these ^ buttons were here -->
                    </div>
                </div>
            </div>
            <!-- Portfolio Items -->
            <div class="row items portfolio-items" *ngFor="let marketing of portfolio.marketing">
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["marketing","development"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <a href="{{marketing.imgUrl}}">
                            <img src="{{marketing.img}}" alt="">
                        </a>
                        <!-- Case Studies Overlay -->
                        <a href="{{marketing.headerUrl}}" class="case-studies-overlay">
                            <!-- Overlay Text -->
                            <span class="overlay-text text-center p-3">
                                <h3 class="text-white mb-3">{{marketing.header}}</h3>
                                <p class="text-white">{{marketing.statement}}</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["seo","development"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <a href="{{marketing.imgUrl}}">
                            <img src="{{marketing.img}}" alt="">
                        </a>
                        <!-- Case Studies Overlay -->
                        <a href="{{marketing.headerUrl}}" class="case-studies-overlay">
                            <!-- Overlay Text -->
                            <span class="overlay-text text-center p-3">
                                <h3 class="text-white mb-3">{{marketing.header}}</h3>
                                <p class="text-white">{{marketing.statement}}</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["marketing","agency"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <a href="{{marketing.imgUrl}}">
                            <img src="{{marketing.img}}" alt="">
                        </a>
                        <!-- Case Studies Overlay -->
                        <a href="{{marketing.headerUrl}}" class="case-studies-overlay">
                            <!-- Overlay Text -->
                            <span class="overlay-text text-center p-3">
                                <h3 class="text-white mb-3">{{marketing.header}}</h3>
                                <p class="text-white">{{marketing.statement}}</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["agency","development","seo"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <a href="{{marketing.imgUrl}}">
                            <img src="{{marketing.img}}" alt="">
                        </a>
                        <!-- Case Studies Overlay -->
                        <a href="{{marketing.headerUrl}}" class="case-studies-overlay">
                            <!-- Overlay Text -->
                            <span class="overlay-text text-center p-3">
                                <h3 class="text-white mb-3">{{marketing.header}}</h3>
                                <p class="text-white">{{marketing.statement}}</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["development","marketing","development"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <a href="{{marketing.imgUrl}}">
                            <img src="{{marketing.img}}" alt="">
                        </a>
                        <!-- Case Studies Overlay -->
                        <a href="{{marketing.headerUrl}}" class="case-studies-overlay">
                            <!-- Overlay Text -->
                            <span class="overlay-text text-center p-3">
                                <h3 class="text-white mb-3">{{marketing.header}}</h3>
                                <p class="text-white">{{marketing.statement}}</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["agency","development","marketing","seo"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <a href="{{marketing.imgUrl}}">
                            <img src="{{marketing.img}}" alt="">
                        </a>
                        <!-- Case Studies Overlay -->
                        <a href="{{marketing.headerUrl}}" class="case-studies-overlay">
                            <!-- Overlay Text -->
                            <span class="overlay-text text-center p-3">
                                <h3 class="text-white mb-3">{{marketing.header}}</h3>
                                <p class="text-white">{{marketing.statement}}</p>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngFor="let button of portfolio.buttons">
                <a href="{{button.url}}" class="btn btn-bordered mt-4">{{button.name}}</a>
            </div>
        </div>
    </section>
</ng-container>



<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Contact Section</button>
    </div>
    <section id="portfolio" class="portfolio-area overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center" *ngFor="let sectionItems of portfolio.sectionList">
                        <dx-text-box [(ngModel)]="sectionItems.header" ></dx-text-box>
                        <dx-text-area [(ngModel)]="sectionItems.statement1" height="100"></dx-text-area>
                        <dx-text-box [(ngModel)]="sectionItems.statementMobile" ></dx-text-box>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-12">
                    <!-- Portfolio Menu -->
                    <div class="portfolio-menu btn-group btn-group-toggle flex-wrap justify-content-center text-center mb-4 mb-md-5" data-toggle="buttons" *ngFor="let button of portfolio.buttons">
                        <label class="btn active d-table text-uppercase p-2">
                            <dx-text-box [(ngModel)]="button.name"></dx-text-box>
                        </label>
                        <!-- multiple of these ^ buttons were here -->
                    </div>
                </div>
            </div>
            <!-- Portfolio Items -->
            <div class="row items portfolio-items" *ngFor="let marketing of portfolio.marketing">
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["marketing","development"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <dx-text-box  [(ngModel)]="marketing.img" placeholder="Image Url or Source"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.imgUrl" placeholder="A URL you may want to link to form the image"></dx-text-box>
                        <!-- Case Studies Overlay -->
                        <dx-text-box [(ngModel)]="marketing.headerUrl" placeholder="A URL you may want to link to form the header"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.header" placeholder="The Header of this box"></dx-text-box>
                        <dx-text-area [(ngModel)]="marketing.statement" height="100" placeholder="The text area of this box"></dx-text-area>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["seo","development"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <dx-text-box  [(ngModel)]="marketing.img" placeholder="Image Url or Source"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.imgUrl" placeholder="A URL you may want to link to form the image"></dx-text-box>
                        <!-- Case Studies Overlay -->
                        <dx-text-box [(ngModel)]="marketing.headerUrl" placeholder="A URL you may want to link to form the header"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.header" placeholder="The Header of this box"></dx-text-box>
                        <dx-text-area [(ngModel)]="marketing.statement" height="100" placeholder="The text area of this box"></dx-text-area>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["marketing","agency"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <dx-text-box  [(ngModel)]="marketing.img" placeholder="Image Url or Source"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.imgUrl" placeholder="A URL you may want to link to form the image"></dx-text-box>
                        <!-- Case Studies Overlay -->
                        <dx-text-box [(ngModel)]="marketing.headerUrl" placeholder="A URL you may want to link to form the header"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.header" placeholder="The Header of this box"></dx-text-box>
                        <dx-text-area [(ngModel)]="marketing.statement" height="100" placeholder="The text area of this box"></dx-text-area>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["agency","development","seo"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <dx-text-box  [(ngModel)]="marketing.img" placeholder="Image Url or Source"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.imgUrl" placeholder="A URL you may want to link to form the image"></dx-text-box>
                        <!-- Case Studies Overlay -->
                        <dx-text-box [(ngModel)]="marketing.headerUrl" placeholder="A URL you may want to link to form the header"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.header" placeholder="The Header of this box"></dx-text-box>
                        <dx-text-area [(ngModel)]="marketing.statement" height="100" placeholder="The text area of this box"></dx-text-area>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["development","marketing","development"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <dx-text-box  [(ngModel)]="marketing.img" placeholder="Image Url or Source"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.imgUrl" placeholder="A URL you may want to link to form the image"></dx-text-box>
                        <!-- Case Studies Overlay -->
                        <dx-text-box [(ngModel)]="marketing.headerUrl" placeholder="A URL you may want to link to form the header"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.header" placeholder="The Header of this box"></dx-text-box>
                        <dx-text-area [(ngModel)]="marketing.statement" height="100" placeholder="The text area of this box"></dx-text-area>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item" data-groups='["agency","development","marketing","seo"]'>
                    <!-- Single Case Studies -->
                    <div class="single-case-studies">
                        <!-- Case Studies Thumb -->
                        <dx-text-box  [(ngModel)]="marketing.img" placeholder="Image Url or Source"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.imgUrl" placeholder="A URL you may want to link to form the image"></dx-text-box>
                        <!-- Case Studies Overlay -->
                        <dx-text-box [(ngModel)]="marketing.headerUrl" placeholder="A URL you may want to link to form the header"></dx-text-box>
                        <dx-text-box [(ngModel)]="marketing.header" placeholder="The Header of this box"></dx-text-box>
                        <dx-text-area [(ngModel)]="marketing.statement" height="100" placeholder="The text area of this box"></dx-text-area>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngFor="let button of portfolio.buttons">
                <a href="{{button.url}}" class="btn btn-bordered mt-4">{{button.name}}</a>
            </div>
        </div>
    </section>
</ng-container>