<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <dx-tree-list
        [dataSource]="dataSource"
        keyExpr="dbId"
        itemsExpr="items"
        [rootValue]="0"
        parentIdExpr="parent_id"
        dataStructure="tree"
        showRowLines="true"
        showBorders="true"
        columnAutoWidth="true"
        focusedRowEnabled="true"
        (onRowRemoving)="onRowRemoving($event)"
        (onFocusedRowChanged)="onFocusedRowChanged($event)">
        <dxo-search-panel 
          [visible]="true" 
          [width]="240" 
          placeholder="Search..."></dxo-search-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-row-dragging
          [onDragChange]="onDragChange"
          [onReorder]="onReorder"
          [allowDropInsideItem]="allowDropInsideItem"
          [allowReordering]="allowReordering"
          [showDragIcons]="showDragIcons"
        ></dxo-row-dragging>
        <dxo-editing
          [useIcons]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true">
        </dxo-editing>
        <dxi-column dataField="label"></dxi-column>
        <dxi-column dataField="link"></dxi-column>
        <dxi-column dataField="icon"></dxi-column>
        <dxi-column dataField="order"></dxi-column>
        <dxi-column type="buttons" [width]="110">
          <dxi-button name="add"></dxi-button>
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
        </dxi-column>
      </dx-tree-list>
    </div>
  </div>

  <ng-container *ngIf="showIconList">
    <dx-popup
      [width]="800"
      [height]="600"
      [showTitle]="true"
      title="View Icons"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="showIconList">
      <dx-tabs
        #apiTabs
        [dataSource]="tabs"
        [selectedIndex]="0"
        (onItemClick)="selectTab($event)">
      </dx-tabs>
      <ng-template [ngIf]="selectedTab == 'MaterialDesign'">
        <dx-scroll-view width="100%" height="100%">
          <app-materialdesign></app-materialdesign>
        </dx-scroll-view>
      </ng-template>
      <ng-template [ngIf]="selectedTab == 'FontAwesome'">
        <dx-scroll-view width="100%" height="100%">
          <app-fontawesome></app-fontawesome>
        </dx-scroll-view>
      </ng-template>
      <ng-template [ngIf]="selectedTab == 'Drip'">
        <dx-scroll-view width="100%" height="100%">
        <app-dripicons></app-dripicons> 
        </dx-scroll-view>
      </ng-template>
      <ng-template [ngIf]="selectedTab == 'Remix'">
        <dx-scroll-view width="100%" height="100%">
          <app-remix></app-remix>
        </dx-scroll-view>
      </ng-template>
      <dx-scroll-view width="100%" height="100%">
      </dx-scroll-view>
    </dx-popup>
  </ng-container>
</div>
