<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure CTA Section</button>
    </div>  
    <section class="section brand-partner ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-2" *ngFor="let sectionList of branding.sectionList">
                        <h2>{{sectionList.header}}</h2>
                        <p class="d-none d-sm-block mt-4">{{sectionList.statement1}}</p>
                        <p class="d-block d-sm-none mt-4">{{sectionList.statementMobile}}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <!-- Brand Partner Wrapper -->
                    <ul class="brand-partner-wrapper list-inline text-center">
                        <!-- Single Partner -->
                        <li class="single-partner list-inline-item p-lg-3"  *ngFor="let partnerImages of branding.partnerUrls">
                            <img src="{{partnerImages.url}}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</ng-container>




<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview CTA Section</button>
    </div>
    <section class="section brand-partner ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-2" *ngFor="let sectionList of branding.sectionList">
                        <dx-text-box [(ngModel)]="sectionList.header" placeholder="Header" ></dx-text-box>
                        <dx-text-area [(ngModel)]="sectionList.statement1" [height]="100" placeholder="Statement for Websites or bigger screens"></dx-text-area>
                        <dx-text-box [(ngModel)]="sectionList.statementMobile" placeholder="Statement for Mobile screens" ></dx-text-box>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <!-- Brand Partner Wrapper -->
                    <ul class="brand-partner-wrapper list-inline text-center">
                        <!-- Single Partner -->
                        <li class="single-partner list-inline-item p-lg-3"  *ngFor="let partnerImages of branding.partnerUrls; let i = index">
                            <dx-button [icon]="'add'" (onClick)="addImage()"></dx-button>
                            <dx-button [icon]="'close'" (onClick)="deleteImage(i)"></dx-button>
                            <dx-text-box [(ngModel)]="partnerImages.url" placeholder="Image URL" ></dx-text-box>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</ng-container>