<section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-6">
                <div class="welcome-intro" *ngFor="let sectionItem of hero.sectionList">
                    <h1 class="text-white text-center text-md-left">{{sectionItem.headerBold}} <br> <span class="fw-4">{{sectionItem.header}}</span></h1>
                    <p class="text-white text-center text-md-left my-4">{{sectionItem.statement1}}</p>
                    <!-- Buttons -->
                    <div class="button-group d-flex align-items-center justify-content-center justify-content-md-start" *ngFor="let button of hero.buttons">
                        <a href="{{button.url}}" class="btn btn-bordered-white">{{button.name}}</a>
                        <!-- Play Button -->
                        <a class="play-btn" data-fancybox data-width="640" data-height="360" data-small-btn="true" href="{{button.playVideoUrl}}">
                            <div class="btn-circle play-animation"></div>
                            <div class="btn-circle play-animation animation-short"></div>
                            <!-- Play Icon -->
                            <div class="play-icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb-wrapper pt-3 pt-md-5 mt-5" *ngFor="let imageItem of hero.images">
                    <span class="welcome-thumb-1">
                        <img class="welcome-animation d-block ml-auto" src="{{imageItem.url640x410}}" alt="">
                    </span>
                    <span class="welcome-thumb-2">
                        <img class="welcome-animation d-block" src="{{imageItem.url410x269}}" alt="">
                    </span>
                    <span class="welcome-thumb-3">
                        <img class="welcome-animation d-block" src="{{imageItem.url411x261}}" alt="">
                    </span>
                    <span class="welcome-thumb-4">
                        <img class="welcome-animation d-block" src="{{imageItem.url411x261}}" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Shape Bottom -->
    <div class="welcome-shape">
        <img src="assets/img/hero_shape.png" alt="">
    </div>
</section>