<footer style="width:100%; position:fixed; left: 0px; right: 0px; bottom: 10px;">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-2">
        <img width="140px" height="35px" src="https://firebasestorage.googleapis.com/v0/b/alliance-group-portal.appspot.com/o/Images%2FAlliance%20Group%20Logo%202020_AG%20Logo%20Two%20Blues.svg?alt=media&token=5e7cd692-7163-4e1b-8f7c-75a361d3e8f0"/>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div>
          ©Alliance Group, LLC.  All rights reserved.
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 social-links">
        <div class="social-link-section">
          <a class="footer-social-link w-inline-block" href="https://www.facebook.com/AllianceForLife">
            <img class="footer-social-img" src="../../../../assets/images/facebook-icon.png" alt="facebook">
          </a>
        </div>
        <div class="social-link-section w-inline-block">
          <a class="footer-social-link" href="https://www.linkedin.com/company/alliance-group/">
            <img class="footer-social-img" src="../../../../assets/images/linkedin-icon.png">
          </a>
        </div>
        <div class="social-link-section w-inline-block">
          <a class="footer-social-link" href="https://www.instagram.com/alliance_living_benefits/">
            <img class="footer-social-img" src="../../../../assets/images/instagram-icon.png">
          </a>
        </div>
    </div>

    </div>
  </div>
</footer>


