<section id="blog" class="section blog-area ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a href="{{blog.url}}"><img src="{{blog.img}}" alt=""></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="{{blog.url}}">{{blog.name}}</a></li>
                                    <li><a href="{{blog.url}}">{{blog.date}}</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a href="{{blog.url}}">{{blog.title}}</a></h3>
                                <p>{{blog.statement}}</p>
                                <a *ngFor="let button of blog.buttons" href="{{blog.url}}" class="blog-btn mt-3">{{button.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a href="#"><img src="assets/img/blog_2.jpg" alt=""></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="#">Jassica William</a></li>
                                    <li><a href="#">Feb 05, 2019</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a href="#">Blog Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione obcaecati, animi vitae recusandae, praesentium quae.</p>
                                <a href="#" class="blog-btn mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Blog -->
                        <div class="single-blog">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a href="#"><img src="assets/img/blog_3.jpg" alt=""></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="#">John Doe</a></li>
                                    <li><a href="#">Mar 05, 2019</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a href="#">Blog Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione obcaecati, animi vitae recusandae, praesentium quae.</p>
                                <a href="#" class="blog-btn mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a href="#"><img src="assets/img/blog_4.jpg" alt=""></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="#">Anna Sword</a></li>
                                    <li><a href="#">Feb 05, 2019</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a href="#">Blog Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione obcaecati, animi vitae recusandae, praesentium quae.</p>
                                <a href="#" class="blog-btn mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a href="#"><img src="assets/img/blog_5.jpg" alt=""></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="#">Jassica William</a></li>
                                    <li><a href="#">Feb 05, 2019</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a href="#">Blog Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione obcaecati, animi vitae recusandae, praesentium quae.</p>
                                <a href="#" class="blog-btn mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Blog -->
                        <div class="single-blog">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a href="#"><img src="assets/img/blog_6.jpg" alt=""></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="#">John Doe</a></li>
                                    <li><a href="#">Mar 05, 2019</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a href="#">Blog Title Here</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione obcaecati, animi vitae recusandae, praesentium quae.</p>
                                <a href="#" class="blog-btn mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center">
                            <li class="disabled px-1">
                                <a href="#" aria-label="Previous">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </li>
                            <li class="px-1"><a href="#">1</a></li>
                            <li class="active px-1"><a href="#">2</a></li>
                            <li class="px-1"><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <aside class="sidebar mt-5 mt-lg-0">
                    <!-- Single Widget -->
                    <div class="single-widget">
                        <!-- Search Widget -->
                        <div class="widget-content search-widget">
                            <form action="#">
                                <input type="text" placeholder="Enter your keywords">
                            </form>
                        </div>
                    </div>
                    <!-- Single Widget -->
                    <div class="single-widget">
                        <!-- Category Widget -->
                        <div class="widget catagory-widget">
                            <h5 class="text-uppercase d-block py-3">Categories</h5>
                            <!-- Category Widget Content -->
                            <div class="widget-content">
                                <!-- Category Widget Items -->
                                <ul class="widget-items" *ngFor="let category of blog.categories">
                                    <li><a href="{{category.url}}" class="d-flex py-3"><span>{{category.name}}</span><span class="ml-auto">({{category.number}})</span></a></li>
                                    <li><a href="{{category.url}}" class="d-flex py-3"><span>{{category.name}}</span><span class="ml-auto">({{category.number}})</span></a></li>
                                    <li><a href="{{category.url}}" class="d-flex py-3"><span>{{category.name}}</span><span class="ml-auto">({{category.number}})</span></a></li>
                                    <li><a href="{{category.url}}" class="d-flex py-3"><span>{{category.name}}</span><span class="ml-auto">({{category.number}})</span></a></li>
                                    <li><a href="{{category.url}}" class="d-flex py-3"><span>{{category.name}}</span><span class="ml-auto">({{category.number}})</span></a></li>
                                    <li><a href="{{category.url}}" class="d-flex py-3"><span>{{category.name}}</span><span class="ml-auto">({{category.number}})</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget -->
                    <div class="single-widget">
                        <!-- Post Widget -->
                        <div class="widget post-widget">
                            <h5 class="text-uppercase d-block py-3">Popular Post</h5>
                            <!-- Post Widget Content -->
                            <div class="widget-content">
                                <!-- Post Widget Items -->
                                <ul class="widget-items" *ngFor="let popular of blog.popular">
                                    <li>
                                        <a href="{{popular.url}}" class="single-post media py-3">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb avatar-lg h-100">
                                                <img class="align-self-center" src="{{popular.img}}" alt="">
                                            </div>
                                            <div class="post-content media-body ml-3 py-2">
                                                <p class="post-date mb-2">{{popular.date}}</p>
                                                <h6>{{popular.title}}</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{popular.url}}" class="single-post media py-3">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb avatar-lg h-100">
                                                <img class="align-self-center" src="{{popular.img}}" alt="">
                                            </div>
                                            <div class="post-content media-body ml-3 py-2">
                                                <p class="post-date mb-2">{{popular.date}}</p>
                                                <h6>{{popular.title}}</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{popular.url}}" class="single-post media py-3">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb avatar-lg h-100">
                                                <img class="align-self-center" src="{{popular.img}}" alt="">
                                            </div>
                                            <div class="post-content media-body ml-3 py-2">
                                                <p class="post-date mb-2">{{popular.date}}</p>
                                                <h6>{{popular.title}}</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{popular.url}}" class="single-post media py-3">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb avatar-lg h-100">
                                                <img class="align-self-center" src="{{popular.img}}" alt="">
                                            </div>
                                            <div class="post-content media-body ml-3 py-2">
                                                <p class="post-date mb-2">{{popular.date}}</p>
                                                <h6>{{popular.title}}</h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget -->
                    <div class="single-widget">
                        <!-- Tags Widget -->
                        <div class="widget tags-widget">
                            <h5 class="text-uppercase d-block py-3">Popular Tags</h5>
                            <!-- Tags Widget Content -->
                            <div class="widget-content">
                                <!-- Tags Widget Items -->
                                <div class="widget-content tags-widget-items pt-2"  *ngFor="let popular of blog.popular">
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                    <a href="{{popular.tagUrl}}" class="d-inline-block mt-2 mr-1 px-2 py-1">{{popular.tagName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>