<section id="service" class="section service-area bg-grey ptb_150">
    <!-- Shape Top -->
    <div class="shape shape-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
            <path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>We provide the best digital services</h2>
                    <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img src="assets/img/case_studies_1.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Data Analytics</h3>
                        </a>
                        <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img src="assets/img/case_studies_2.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Website Growth</h3>
                        </a>
                        <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img src="assets/img/case_studies_3.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Seo Ranking</h3>
                        </a>
                        <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img src="assets/img/case_studies_4.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>App Development</h3>
                        </a>
                        <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img src="assets/img/case_studies_5.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Email Marketing</h3>
                        </a>
                        <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service service-gallery overflow-hidden">
                    <!-- Service Thumb -->
                    <div class="service-thumb">
                        <a href="#"><img src="assets/img/case_studies_6.jpg" alt=""></a>
                    </div>
                    <!-- Service Content -->
                    <div class="service-content bg-white">
                        <a href="#">
                            <h3>Affiliate Marketing</h3>
                        </a>
                        <p class="py-3">Lorem ipsum dolor sit amet, consectet ur adipisicing elit.</p>
                        <a class="service-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shape Bottom -->
    <div class="shape shape-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
            <path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
        </svg>
    </div>
</section>