<section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-10">
                <div class="welcome-intro text-center mt-0 py-5" *ngFor="let sectionItem of hero.sectionList">
                    <h1 class="text-white">{{sectionItem.header}}</h1>
                    <p class="text-white my-4">{{sectionItem.statement1}}</p>
                    <!-- Buttons -->
                    <div class="button-group" *ngFor="let button of hero.buttons">
                        <a href="{{button.url}}" class="btn btn-bordered-white">{{button.name}}</a>
                        <a href="{{button.url}}" class="btn btn-bordered-white d-none d-sm-inline-block">{{button.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>