    <!-- theme - singlepage - 7-->
    <!-- theme - singlepage - 8 - class: homepage-2-->
    <!-- theme - singlepage - 9 class: homepage-3-->
    <!-- theme - singlepage - 10 class: homepage-4-->    
    <!-- theme - singlepage - 11 class: homepage-5 dark-->
    <!-- theme - singlepage - 12 call: homepage-6 rtl-->


<div class="main overflow-hidden">
    <app-scrollup></app-scrollup>
    
    <app-header-three></app-header-three> <!-- page 7, 9, 10, 11, 12-->
    <app-header-four></app-header-four> <!-- page 8-->
    
    <app-hero-one></app-hero-one> <!-- page 7-->
    <app-hero-two></app-hero-two> <!-- page 8-->
    <app-hero-three></app-hero-three> <!-- page 9-->
    <app-hero-four></app-hero-four> <!-- page 10-->
    <app-hero-five></app-hero-five> <!-- page 11-->
    <app-hero-six></app-hero-six> <!-- page 12-->


    <app-promo-one></app-promo-one> <!-- page 7-->
    <app-promo-two></app-promo-two> <!-- page 12-->

    <app-content-one></app-content-one>  <!-- page 7, 8, 10, 12-->
    <app-content-two></app-content-two>  <!-- page 7, 9-->
    <app-content-three></app-content-three>  <!-- page 11-->
    <app-content-four></app-content-four>  <!-- page 9, 10, 12-->
    <app-content-five></app-content-five>  <!-- page 11-->

    <app-service-one></app-service-one>  <!-- page 7, 12-->
    <app-service-two></app-service-two>  <!-- page 8-->
    <app-service-three></app-service-three>  <!-- page 9-->
    <app-service-four></app-service-four>  <!-- page 10-->
    <app-service-five></app-service-five>  <!-- page 12-->
    <app-service-six></app-service-six>  <!-- page 11-->
    
    <app-portfolio-one></app-portfolio-one>  <!-- page 7-->
    <app-portfolio-two></app-portfolio-two>  <!-- page 8-->

    <app-pricing-one></app-pricing-one>  <!-- page 7-->
    <app-pricing-two></app-pricing-two>  <!-- page 8, 9, 10, 12-->
    <app-pricing-three></app-pricing-three>  <!-- page 11-->

    <app-review-one></app-review-one>  <!-- page 7, 8, 10, 12-->
    <app-review-two></app-review-two>  <!-- page 9-->
    <app-review-three></app-review-three>  <!-- page 11-->


    <app-contact-one></app-contact-one>  <!-- page 7, 8, 9, 10, 12-->
    <app-contact-two></app-contact-two>  <!-- page 11-->

    <app-footer-one></app-footer-one> <!--page 7,8,9,10,12-->
    <app-footer-two></app-footer-two> <!--page 11-->
    
    <app-cta></app-cta>  <!-- page 7, 8, 9, 10, 11, 12-->

    <app-video></app-video>  <!-- page 8-->

    <app-branding></app-branding>  <!-- page 10-->

    <app-modal-search></app-modal-search>
    <app-modal-menu></app-modal-menu>
</div>
