<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Team Section</button>
    </div> 
    <section class="section team-area ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>





<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Team Section</button>
    </div>
    <section class="section team-area ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <dx-text-box [(ngModel)]="team.imgUrl" ></dx-text-box>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <dx-text-box [(ngModel)]="team.name" ></dx-text-box>
                            </a>
                            <dx-text-box [(ngModel)]="team.title" ></dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Team -->
                    <div class="single-team">
                        <!-- Team Photo -->
                        <div class="team-photo">
                            <a href="#"><img src="{{team.imgUrl}}" alt=""></a>
                        </div>
                        <!-- Team Content -->
                        <div class="team-content p-3">
                            <a href="#">
                                <h3 class="mb-2">{{team.name}}</h3>
                            </a>
                            <h5 class="text-uppercase">{{team.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>