.authentication-main {
  margin-top: 80px
}

.authentication-main .auth-innerright .card-body .theme-form {
  width: calc(100% - 290px)
}

.authentication-main.auth-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100vh - 100px);
  margin: 50px 0
}

.auth-bg .card-body {
  background-color: #f9f9fa
}

.auth-bg .card-body .theme-form {
  width: calc(100% - 290px);
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 600px;
  margin: 0 auto 0;
  background: #fff;
  padding: 30px;
  border-radius: 12px
}

.cont>div:nth-child(1) {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 610px;
  top: 0;
  padding: 30px;
  height: 100%;
  padding-left: 350px;
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  width: calc(100% + 260px)
}

.cont.s--signup .sub-cont {
  -webkit-transform: translate3d(-610px, 0, 0);
  transform: translate3d(-610px, 0, 0)
}

.img {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 290px;
  height: 100%;
  padding-top: 360px
}

.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("/assets/images/login-image.jpg") !important;
  background-size: cover;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out
}

.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6)
}

.cont.s--signup .img:before {
  -webkit-transform: translate3d(610px, 0, 0);
  transform: translate3d(610px, 0, 0)
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out
}

.cont.s--signup .img__text.m--up {
  -webkit-transform: translateX(580px);
  transform: translateX(580px)
}

.img__text.m--in {
  -webkit-transform: translateX(-580px);
  transform: translateX(-580px)
}

.cont.s--signup .img__text.m--in {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  height: 40px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  margin: 0 50px
}

.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 25px
}

.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s
}

.img__btn span.m--in {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px)
}

.cont.s--signup .img__btn span.m--in {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.cont.s--signup .img__btn span.m--up {
  -webkit-transform: translateY(72px);
  transform: translateY(72px)
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7
}

.fb-btn span {
  font-weight: bold;
  color: #455a81
}

.sign-in {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}

.cont.s--signup .sign-in {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(610px, 0, 0);
  transform: translate3d(610px, 0, 0)
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0)
}

.cont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.icon-link img {
  width: 100%;
  vertical-align: top
}

.icon-link--twitter {
  left: auto;
  right: 5px
}

@media only screen and (max-width: 575px) {
  .authentication-main {
    margin-top: 10px
  }

  .authentication-main .authentication-box .h-100-d-center {
    padding: 0
  }

  .authentication-main.login-p {
    padding: 0
  }

  .img__btn {
    width: 32%
  }

  .sub-cont {
    -webkit-transform: translate3d(0, 585px, 0) !important;
    transform: translate3d(0, 585px, 0) !important
  }

  .theme-form .login-divider:before,
  .theme-form .form-divider:before {
    left: 39% !important
  }

  .only-login .sub-cont {
    -webkit-transform: translate3d(0, 615px, 0) !important;
    transform: translate3d(0, 615px, 0) !important
  }
}

@media only screen and (max-width: 420px) {
  .s--signup .sub-cont .social .btn-showcase {
    margin-bottom: 0
  }
}


.height-35 {
  height: 35px !important
}

.theme-form .form-control :focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(171, 140, 228, 0.05);
  box-shadow: 0 0 0 0.2rem rgba(171, 140, 228, 0.05)
}

.theme-form.sm-form .form-group {
  margin-bottom: 14px
}

.theme-form .form-group {
  margin-bottom: 20px
}

.theme-form .form-group textarea {
  border-color: #efefef
}

.theme-form .form-group textarea::-webkit-input-placeholder {
  color: #898989;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100
}

.theme-form .form-group input[type=text],
.theme-form .form-group input[type=email],
.theme-form .form-group input[type=search],
.theme-form .form-group input[type=password],
.theme-form .form-group input[type=number],
.theme-form .form-group input[type=tel],
.theme-form .form-group input[type=date],
.theme-form .form-group input[type=datetime-local],
.theme-form .form-group input[type=time],
.theme-form .form-group input[type=datetime-local],
.theme-form .form-group input[type=month],
.theme-form .form-group input[type=week],
.theme-form .form-group input[type=url],
.theme-form .form-group input[type=file],
.theme-form .form-group select {
  border-color: #efefef;
  background-color: #fff;
  font-size: 14px;
  color: #898989;
  font-family: work-Sans, sans-serif
}


.theme-form .form-group input[type=text]::-webkit-input-placeholder,
.theme-form .form-group input[type=email]::-webkit-input-placeholder,
.theme-form .form-group input[type=search]::-webkit-input-placeholder,
.theme-form .form-group input[type=password]::-webkit-input-placeholder,
.theme-form .form-group input[type=number]::-webkit-input-placeholder,
.theme-form .form-group input[type=tel]::-webkit-input-placeholder,
.theme-form .form-group input[type=date]::-webkit-input-placeholder,
.theme-form .form-group input[type=datetime-local]::-webkit-input-placeholder,
.theme-form .form-group input[type=time]::-webkit-input-placeholder,
.theme-form .form-group input[type=datetime-local]::-webkit-input-placeholder,
.theme-form .form-group input[type=month]::-webkit-input-placeholder,
.theme-form .form-group input[type=week]::-webkit-input-placeholder,
.theme-form .form-group input[type=url]::-webkit-input-placeholder,
.theme-form .form-group input[type=file]::-webkit-input-placeholder,
.theme-form .form-group select::-webkit-input-placeholder {
  color: #898989;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100
}

.theme-form .form-group select.form-control:not([size]):not([multiple]) {
  border-color: #efefef;
  font-size: 14px
}

.theme-form .checkbox label {
  padding-left: 10px
}

.theme-form .form-divider {
  position: relative;
  clear: both;
  height: 0;
  margin: 30px 0;
  border-top: 1px solid #efefef
}

.theme-form .form-divider:before {
  position: absolute;
  top: -11px;
  left: 40%;
  margin-left: -10px;
  padding: 0 5px;
  content: "Or Signup With";
  color: #242934;
  background: #fff
}

.theme-form .login-divider {
  position: relative;
  clear: both;
  height: 0;
  margin: 30px 0;
  border-top: 1px solid #efefef
}

.theme-form .login-divider:before {
  position: absolute;
  top: -11px;
  left: 40%;
  margin-left: -10px;
  padding: 0 5px;
  color: #242934;
  background: #fff;
  content: "Or Login With"
}

.theme-form .btn-fb {
  background-color: #50598e;
  color: #fff;
  width: 100%
}

.theme-form .btn-twitter {
  background-color: #6fa2d8;
  color: #fff
}

.theme-form .btn-google {
  background-color: #c64e40;
  color: #fff
}

.theme-form .btn-github {
  background-color: "";
  color: #fff
}

.form-control {
  height: auto
}

input[type="color"] {
  height: 38px;
  border-color: #efefef
}

.form-inline .form-group {
  margin-right: 15px
}

.form-inline .form-group .col-form-label {
  margin-right: 5px
}

