<ng-container *ngIf="view == 'preview'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showConfigure()">Configure Contact Section</button>
    </div>
    <section id="contact" class="contact-area bg-grey ptb_100">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-3" *ngFor="let sectionList of contact.sectionList">
                        <h2>{{sectionList.header}}</h2>
                        <p class="d-none d-sm-block mt-4">{{sectionList.statement1}}</p>
                        <p class="d-block d-sm-none mt-4">{{sectionList.statementMobile}}</p>
                    </div>
                    <!-- Contact Us -->
                    <div class="contact-us">
                        <ul>
                            <!-- Contact Info -->
                            <li class="contact-info color-1 bg-hover active hover-bottom text-center p-5 m-3"  *ngFor="let phoneInfo of contact.phoneInfo">
                                <span><i class="fas fa-mobile-alt fa-3x"></i></span>
                                <a class="d-block my-2" href="{{phoneInfo.url}}">
                                    <h3>{{phoneInfo.phone}}</h3>
                                </a>
                                <p>{{phoneInfo.statement}}</p>
                            </li>
                            <!-- Contact Info -->
                            <li class="contact-info color-3 bg-hover active hover-bottom text-center p-5 m-3" *ngFor="let emailInfo of contact.emailInfo">
                                <span><i class="fas fa-envelope-open-text fa-3x"></i></span>
                                <a class="d-none d-sm-block my-2" href="{{emailInfo.url}}">
                                    <h3>{{emailInfo.email}}</h3>
                                </a>
                                <a class="d-block d-sm-none my-2" href="{{emailInfo.url}}">
                                    <h3>{{emailInfo.email}}</h3>
                                </a>
                                <p>{{emailInfo.statement}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-4 pt-lg-0">
                    <!-- Contact Box -->
                    <div class="contact-box text-center">
                        <!-- Contact Form -->
                        <form id="contact-form" method="POST" action="assets/php/mail.php">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Company Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" placeholder="Phone" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" placeholder="Message" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-bordered active btn-block mt-3"><span class="text-white pr-3"><i class="fas fa-paper-plane"></i></span>Send Message</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>





<ng-container *ngIf="view =='edit'" >
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPreview()">Preview Contact Section</button>
    </div>
    <section id="contact" class="contact-area bg-grey ptb_100">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-3" *ngFor="let sectionList of contact.sectionList">
                        <dx-text-box [(ngModel)]="sectionList.header" ></dx-text-box>
                        <dx-text-area [(ngModel)]="sectionList.statement1" [height]="100" ></dx-text-area>
                        <dx-text-box [(ngModel)]="sectionList.statementMobile" ></dx-text-box>
                    </div>
                    <!-- Contact Us -->
                    <div class="contact-us">
                        <ul>
                            <!-- Contact Info -->
                            <li class="contact-info color-1 bg-hover active hover-bottom text-center p-5 m-3"  *ngFor="let phoneInfo of contact.phoneInfo">
                                <span><i class="fas fa-mobile-alt fa-3x"></i></span>
                                <a class="d-block my-2">
                                    <dx-text-box [(ngModel)]="phoneInfo.phone" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="phoneInfo.url" ></dx-text-box>
                                </a>
                                <dx-text-box [(ngModel)]="phoneInfo.statement" ></dx-text-box>
                            </li>
                            <!-- Contact Info -->
                            <li class="contact-info color-3 bg-hover active hover-bottom text-center p-5 m-3" *ngFor="let emailInfo of contact.emailInfo">
                                <span><i class="fas fa-envelope-open-text fa-3x"></i></span>
                                <a class="d-none d-sm-block my-2">
                                    <dx-text-box [(ngModel)]="emailInfo.email" ></dx-text-box>
                                    <dx-text-box [(ngModel)]="emailInfo.url" ></dx-text-box>
                                </a>
                                <dx-text-box [(ngModel)]="emailInfo.statement" ></dx-text-box>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-4 pt-lg-0">
                    <!-- Contact Box -->
                    <div class="contact-box text-center">
                        <!-- Contact Form -->
                        <form id="contact-form" method="POST" action="assets/php/mail.php">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Company Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" placeholder="Phone" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" placeholder="Message" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-bordered active btn-block mt-3"><span class="text-white pr-3"><i class="fas fa-paper-plane"></i></span>Send Message</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-message"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>